[submodule "flecs-build"]
	path = flecs-build
	url = https://github.com/flecs-technologies/flecs-build
[submodule "flecs-external"]
	path = flecs-external
	url = https://github.com/FLECS-Technologies/flecs-external.git
