[submodule "flecs-build"]
	path = flecs-build
	url = ../flecs-build.git
[submodule "flecs-external"]
	path = flecs-external
	url = ../flecs-external.git
[submodule "flunder"]
	path = flunder
	url = ../flunder.git
