[Unit]
Description=FLECS Service Updater
After=network-online.target
Wants=network-online.target
After=docker.service
Requires=docker.service
After=containerd.service
Wants=containerd.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/usr/bin/flecs-updater
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
