[Unit]
Description=FLECS App Management API
After=network-online.target
Wants=network-online.target
After=docker.service containerd.service
Requires=docker.service containerd.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull marketplace.flecs.tech:5000/flecs/backend:latest
ExecStartPre=-/usr/bin/docker run --rm -v /usr/bin:/host/usr/bin marketplace.flecs.tech:5000/flecs/backend:latest
ExecStart=/usr/bin/flecs-backend
Restart=on-failure

[Install]
WantedBy=multi-user.target
