[Unit]
Description=FLECS Service Updater
After=network-online.target
Wants=network-online.target
After=docker.service containerd.service
Requires=docker.service containerd.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull marketplace.flecs.tech:5000/flecs/updater:latest
ExecStart=/usr/bin/docker run --rm -v /usr/bin:/host/usr/bin marketplace.flecs.tech:5000/flecs/updater:latest
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
